<style type="text/css">

body{
        margin: 0px;
        background-image: url(https://i.ytimg.com/vi/ZyGUCO9SOhE/maxresdefault.jpg);
        
        
    }
    
    .festebreite{
        
        width:1050px;
        margin: auto;
        
    }
    
    
    #topleiste{
        padding:2px 2px 5px 2px;
        margin-top: -10px;
        background-color: #42587E;
        width: 100%;
        float:left;
    }
    
    #topleiste ul{
        
        margin-left: 40px;
        
    }
    
    #topleiste li {
        padding-top:-1px;
        list-style: none;
        float:left;
        
    }
    
    #topleiste a:link{
        
        color:white;
        text-decoration:none;
        font-size: 16px;
        padding: 10px 5px 5px 5px;
    }
    
    #topleiste a:hover{
        
        color:black;
        background-color: white;
        text-decoration: none;
        
    }
    
    a:link{
        
        color:black;
        text-decoration: none;
        
    }
    
    a:hover{
        
        text-decoration: none;
        background-color: darkgrey;
        
    }
    
    a:visited{
        
        color: black;
        
    }
    
    #ardbild {
        
        content:url(http://www.ard.de/pool/img/ard/banner/logo_base.png);
        width: 250px;
        
    }
    
    #suchfeld{
        
        float:right;
        position: relative;
        top: -42px;
        left: -60px;
        
    }
    
    #suchfeld input {
        
        height: 20px;
        background-image:url(http://www.ard.de/pool/img/base/icon/lupe_gross.png);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 20px;
    }
    
    #blauerbalken{
        
        background-color:#0074CD;
        height:20px;
        margin: 5px;
        padding: 2px;
        
        
    }
    
    #topbox{
        margin-left: auto;
        margin-right: auto;
        height: 320px;
        width: 1050px;
        background-color: white;
        
        
        
    }
    #bildlinksoben{
        
        float:left;
        margin: 0px 5px 0px 5px;
    }
    
    p{
        
        margin: 1px;
        
    }
    
    h3{
        margin: 5px;
        
    }
    
    #mittlererblock{
        
        width: 1050px;
        height: 350px;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        margin-top: 20px;
        
    }
    
    .mittlerebloecke{
        
        width: 330px;
        margin: 10px;
        float: left;
        overflow: auto;
        
    }
    
    #grauerbalken{
        
        background-color: #516384;
        width: 300px;
        padding: 2px;
        margin-bottom: 1px;
        
    }
    
    #gelberbalken{
        
        background-color: #FFD33B;
        width: 300px;
        padding: 2px;
        margin-bottom: 1px;
    }
    
     #lilabalken{
        
        background-color: #561151;
        width: 300px;
        padding: 2px;
        margin-bottom: 1px;
    }
    
    .white{
        
        color:white;
        
        
    }
    
    
 </style>